body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px 0;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover,
.nav-link.active {
  background-color: #575757;
  color: #ffd700;
  border-radius: 5px;
}

.content {
  display: none;
  padding: 50px;
  text-align: center;
}

.content.active {
  display: block;
}
